<%- include('../includes/header.ejs') %> 
</head>
<body>
  <!-- begin::Navbar -->
  <%- include('../includes/navigation.ejs') %>
  <!-- emd::Navbar -->
  
  <div class="container mt-5">
    <div class="row">
      <div class="col-3 d-flex flex-column">
        <% products.forEach(product => { %>
          <div class="d-flex justify-content-between">
            <p><%= product.name %> x<%= product.cartItem.quantity %></p>
            <form action="/cart-delete-item" method="POST">
              <input type="hidden" name="productId" value="<%= product.id %>">
              <button class="btn">[X]</button>
            </form>
          </div>
          <hr>
        <% })%>

        <div class="checkout d-flex flex-column justify-content-center">
          <h6>Total price: $<%= totalPrice %></h6> 
          <% if(products.length < 1) { %>
            <form action="/create-bill" method="POST" class="w-100">
              <input type="hidden" name="paymentType" value="cash">
              <button class="btn btn-primary w-50 mb-2" type="submit" disabled>Cash</button>
            </form>
            <form action="/create-bill" method="POST" class="w-100">
              <input type="hidden" name="paymentType" value="card">
              <button class="btn btn-primary w-50" type="submit" disabled>Card</button>
            </form>
          <% } else { %>
            <form action="/create-bill" method="POST" class="w-100">
              <input type="hidden" name="paymentType" value="cash">
              <button class="btn btn-primary w-50 mb-2" type="submit">Cash</button>
            </form>
            <form action="/create-bill" method="POST" class="w-100">
              <input type="hidden" name="paymentType" value="card">
              <button class="btn btn-primary w-50" type="submit">Card</button>
            </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>
<%- include('../includes/footer.ejs') %>